#about {
  @media screen and (min-width: 768px) {
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: -70px;
  }
}


#about {
  .background-img{
    position: absolute;
    bottom: 0px;
    @media screen and (min-width: 768px) {
    bottom: 70px;
    }
  }
}

